//Colors
$color-blue: #00246c;
$color-primary-blue-dark: #1b1464;
$color-primary-blue-light: #3628c7;
$color-yellow: #fff200;
$color-primary-yellow-dark: #f1c40f;
$color-primary-yellow-light: #f5d44f;
$color-black: #000;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//Font
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
