.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-blue-light, 0.8),
      rgba($color-primary-blue-dark, 0.8)
    ),
    url(/css/img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(phone) {
      top: 50%;
    }
  }
}

.header__blog {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-blue-light, 0.8),
      rgba($color-primary-blue-dark, 0.8)
    ),
    url(/css/img/laligaTeam.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &-main {
    display: flex;
    position: absolute;
    width: 75%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $bp-largest) {
      width: 69%;
      top: 45%;
      left: 40%;
      transform: translate(-30%, -20%);
    }

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      width: 69%;
      top: 29%;
      left: 40%;
      transform: translate(-30%, -20%);
    }
  }

  &-imgContainer {
    width: 80%;
    height: auto;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      margin-right: 2rem;
    }

    @media only screen and (max-width: $bp-large) {
      width: 50%;
      align-self: center;
      margin-right: -1rem;
    }
  }

  &-img {
    height: 80%;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }
    @media only screen and (max-width: $bp-large) {
      width: 80%;
    }
  }

  &-textbox {
    margin-top: 4rem;

    @media only screen and (max-width: $bp-largest) {
    }
    @media only screen and (max-width: $bp-large) {
      text-align: center;
    }
  }
}
