.latest__post {
  &-container {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      text-align: center;
      margin-left: 10rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
      text-align: center;
      margin-left: 7rem;
    }
  }
  &-detail {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 30%;
    }
  }
  &-imgContainer {
    width: 85%;
    margin: 0;
    border-radius: 10%;
    overflow: hidden;
    background-color: $color-black;

    &-img {
      opacity: 0.7;
      width: 100%;
      height: auto;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;
      &:hover {
        opacity: 1;
        transform: scale(1.03);
      }
      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }
      @media only screen and (max-width: $bp-smallest) {
        width: 100%;
      }
    }
  }

  &-date {
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: $color-primary-yellow-dark;
    padding: 1.4rem 0;
    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }
  &-gistHead {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    word-spacing: 0.2rem;
  }

  &-gistLink:link,
  &-gistLink:visited {
    text-decoration: none;
    display: inline-block;
    color: $color-grey-dark-3;
  }
  &-gistLink:hover,
  &-gistLink:active {
    background-image: linear-gradient(
      to bottom right,
      $color-primary-yellow-dark,
      $color-primary-blue-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &-textContent {
    width: 85%;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 3rem;
    }
  }
}

.btn-center {
  margin: 3rem 0;
  position: relative;
  top: 1rem;
  left: 48rem;
  @media only screen and (max-width: $bp-small) {
    top: -8rem;
    left: 24rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    top: -8rem;
    left: 15rem;
  }
}
