.video__tutorials {
  &-details {
    margin: 4rem 0;
    padding: 15rem 0;
    display: flex;
    justify-content: center;
    background-color: $color-yellow;
  }
  &-text {
    font-size: 5rem;
    color: $color-primary-blue-dark;
  }
}
