.section-latest-news {
  overflow: hidden;
  &::after {
    content: "";
    border-bottom: 1px solid rgba($color-primary-blue-dark, 0.56);
    height: 2px;
    width: 1330px;
    display: block;
    margin: 0 auto;
    margin-top: 65px !important;
    @media only screen and (max-width: $bp-medium) {
      width: 850px;
    }
    @media only screen and (max-width: $bp-small) {
      width: 500px;
    }
  }
}

.section-latest-post {
  margin-bottom: 15rem;
  overflow: hidden;
}
